.invisible {
  display: none;
}
.errorMessage {
  color: red;
}
.hasError {
  background-color: yellow;
}



legend{
  color: black;
  padding: 5px 10px;
}

fieldset{
  color: black;
}

.gender{
  line-height: 200px;
  text-align: left;
}

.center {
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center
}

.centermain {
  text-align: center;
  white-space: nowrap;
}